{% extends "layout.html" %}
{% block content %}
<div class="container">
  <div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3>{{ app.user.username }} To-do listája</h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-full-width">
          <tr>
            <th>Fealadatok</th>
            <th>Kész?</th>
            <th>Törlés</th>
            <th>Létrehozva</th>
          </tr>
          {% for todo in todos %}
            <tr>
              <td>{{ todo.taskName }} <br> {{ todo.taskDescription }}</td>
              <td>
                {% if todo.isDone == false %}
                  <form name="todo" method="post">
                    <input
                        type="hidden"
                        name="todo[action]"
                        value="update">
                    <input
                        type="hidden"
                        name="todo[id]"
                        value="{{ todo.id }}">
                    <input
                        type="hidden"
                        name="todo[userId]"
                        value="{{ todo.userId }}">
                    <input
                        type="hidden"
                        name="todo[taskName]"
                        value="{{ todo.taskName }}">
                    <input
                        type="hidden"
                        name="todo[isDone]"
                        value="true">
                    <button type="submit" class="btn btn-default">
                      <span class="glyphicon glyphicon-ok" aria-hidden="true">
                      </span>
                    </button>
                  </form>
                {% endif %}

                {% if todo.isDone == true %}
                  Kész
                {% endif %}
              </td>
              <td>
                <form name="todo" method="post">
                  <input
                      type="hidden"
                      name="todo[action]"
                      value="delete">
                  <input
                      type="hidden"
                      name="todo[id]"
                      value="{{ todo.id }}">
                  <button type="submit" class="btn btn-default">
                    <span class="glyphicon glyphicon-remove" aria-hidden="true">
                    </span>
                  </button>
                </form>
              </td>
              <td>{{ todo.deadline|date("m/d/Y") }}</td>
            </tr>
          {% endfor %}
          <form name="todo" method="post">
            <tr>
              <td rowspan="2">Új feladat hozzáadása</td>
              <td rowspan="2">
                <input
                    type="hidden"
                    name="todo[action]"
                    value="new">
                <input
                    type="hidden"
                    name="todo[userId]"
                    value="{{ app.user.id }}">
                <input
                    type="text"
                    name="todo[taskName]"
                    placeholder="feladat-neve">
              </td>
              <td rowspan="1">
                <textarea
                    class="form-control"
                    rows="3"
                    name="todo[taskDescription]"
                    placeholder="leiras">
                </textarea>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <button type="submit" class="btn btn-info pull-right">Felvétel</button>
              </td>
            </tr>
          </form>
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
